<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  
<connectionStrings>
  <add name="Model1" connectionString="data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\Angelus\Documents\Visual Studio 2015\Projects\ProyectoSOA\tiendaenlinea.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>